# Example config file with listed possible values

# Map related variables
mapVariant : Globe          # Globe | HellPortal
mapDimensions : 20, 21

# Plants related variables
plantsStartingAmount : 30
plantsProvidingEnergy : 5
plantsDailyIncrease : 3
seedingVariant : FertileEquators       # FertileEquators | ToxicCorpses


# Animals related variables
animalsStartingAmount : 5
animalsStartingEnergy : 20
animalsBreedEnergy : 10
animalsBreedPartialCost : 0.5
animalsBehaviourVariant : PredestinedBehaviour      # PredestinedBehaviour | RandomOrderBehaviour

# Genes related variables
genesAmount : 10
genesMutateVariant : SlightChange       # FullRandom | SlightChange
genesMinMutate : 0
genesMaxMutate : 4
