# Example config file with listed possible values

# Map related variables
mapVariant : Globe          # Globe | HellPortal
mapDimensions : 100, 100

# Plants related variables
plantsStartingAmount : 500
plantsProvidingEnergy - 100
plantsDailyIncrease : 100
seedingVariant : FertileEquatorsers       # FertileEquators | ToxicCorpses


# Animals related variables
animalsStartingAmount : 500
animalsStartingEnergy : 100e
animalsBreedEnergy : 50
animalsBreedPartialCost : 0.2
animalsBehaviourVariant : PredestinedBehaviour      # PredestinedBehaviour | RandomOrderBehaviour

# Genes related variables
genesAmount : 10
genesMutateVariant : SlightChange       # FullRandom | SlightChange
genesMinMutate : 0
genesMaxMutate : 4
