# Example config file with listed possible values

# Map related variables
mapVariant : HellPortal         # Globe | HellPortal
mapDimensions : 50, 50

# Plants related variables
plantsStartingAmount : 50
plantsProvidingEnergy : 10
plantsDailyIncrease : 20
seedingVariant : ToxicCorpses       # FertileEquators | ToxicCorpses


# Animals related variables
animalsStartingAmount : 100
animalsStartingEnergy : 20
animalsBreedEnergy : 20
animalsBreedPartialCost : 0.4
animalsBehaviourVariant : RandomOrderBehaviour      # PredestinedBehaviour | RandomOrderBehaviour

# Genes related variables
genesAmount : 10
genesMutateVariant : FullRandom       # FullRandom | SlightChange
genesMinMutate : 3
genesMaxMutate : 7
