# Example config file with listed possible values

# Map related variables
mapVariant : Globe          # Globe | HellPortal
mapDimensions : 20, 20

# Plants related variables
plantsStartingAmount : 20
plantsProvidingEnergy : 20
plantsDailyIncrease : 10
seedingVariant : ToxicCorpses       # FertileEquators | ToxicCorpses


# Animals related variables
animalsStartingAmount : 40
animalsStartingEnergy : 20
animalsBreedEnergy : 10
animalsBreedPartialCost : 0.4
animalsBehaviourVariant : RandomOrderBehaviour      # PredestinedBehaviour | RandomOrderBehaviour

# Genes related variables
genesAmount : 3
genesMutateVariant : SlightChange       # FullRandom | SlightChange
genesMinMutate : 0
genesMaxMutate : 1
